extends layout

block content
  .container
    h1= title
    p.subtitle Manage your tasks below.

    if todos.length === 0
      p No tasks yet. Add one below.
    else
      ol.todo-list
        each val in todos
          li.todo-item(class=val.completed > 0 ? 'completed' : 'not-completed')
            .task-row
              .task-info
                span.task-text= val.task
                if val.completed > 0
                  span.status Completed
                else
                  span.status Not Completed

            .task-actions
              if val.completed === 0
                form(method='POST' action='/complete')
                  input(type='hidden', name='id', value=val.id)
                  button(type='submit') Mark Completed

              form(method='POST' action='/edit')
                input(type='hidden', name='id', value=val.id)
                input(type='text', name='task', value=val.task, required)
                button(type='submit') Save Edit

              form(method='POST' action='/delete')
                input(type='hidden', name='id', value=val.id)
                button(type='submit') Delete

    hr

    h2 Add a new task
    form(method='POST' action='/create').add-form
      label(for='task') Task:
      input(type='text', name='task', id='task', required)
      button(type='submit') Create Task